body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 28px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.accordion-header {
  width: 100%;
  background: none;
  border: 1px solid #ddd;
  box-shadow: none;
  margin: 0;
  padding: 12px;
  font-size: 14px;
  text-align: left;
}

.accordion-panel {
  display: none;
  padding: 32px 20px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  font-size: 14px;
}

li:not(:first-of-type) .accordion-header {
  border-top: none;
}

li:not(:last-of-type) .accordion-panel {
  border-top: none;
}

.accordion-panel.show {
  display: block;
}
